<!-- Регистрация ученика 1 -->
{% extends 'registration/base_regist.html' %} {% load static %} {% block content %}
<div class="input-section">
    <div class="login-form" style="text-align: left">
        <div class="form-content">
            <form method="post">
                <h4 class="registration-h4">Регистрация студента/ученика</h4>
                {{ form }} <button type="submit" class="submit-button">Продолжить</button> {% csrf_token %}
            </form>
            <div class="footer" style="text-align: center">
                Уже есть аккаунт? <a href="{% url 'login' %}" class="register-link">Войти</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
