{% extends 'teach_course/base_teach_course.html' %}
{% load static %}
{% block title %}Конструктор{% endblock %}

{% block content %}
<div class="tabs">
      <a href="#"><div class="tab active">Конструктор</div></a>
      <a href="#"><div class="tab">Страница курса</div></a>
      <a href="{% url 'teach_setting_course' %}"><div class="tab">Настройки курса</div></a>
</div>
<div class="conteiner-tasks">
    <div>
        <div class="tasks-head">
            <button style="margin-top: -3%; rotate: 45deg;" class="tasks-head-button">+</button>
            <input type="text" placeholder="Заголовок страницы" class="text-header">
            
            
            <button class="dropdownBtn tasks-head-button">...</button>
            <div class="dropdown-content">
                <button class="dropdown-content-button">+ Добавить содержимое</button>
                <button class="button-delete">Удалить</button>
            </div>
            
            
        </div>
        
        <div>
            <div class="video-box">
                <img src="{% static 'img/video.png' %}" width="80px" height="80px">
                <h4 style="margin-top: 3%;">Нажмите для загрузки видео или перетащите файл сюда</h4>
                <p>Файл обрабатывается до 5 Гб</p>
            </div>
            <input type="text" placeholder="Текст" class="text-footer">
        </div>
    </div>
</div>

<div class="conteiner-tasks">
    <div>
        <div class="tasks-head">
            <button style="margin-top: -3%; rotate: 45deg;" class="tasks-head-button">+</button>
            <input type="text" placeholder="Заголовок страницы" class="text-header">
            
            
            <button class="dropdownBtn tasks-head-button">...</button>
            <div class="dropdown-content">
                <button class="dropdown-content-button">+ Добавить содержимое</button>
                <button class="button-delete">Удалить</button>
            </div>
            
            
        </div>
        
        <div>
            <div class="video-box">
                <img src="{% static 'img/file.png' %}" width="80px" height="80px">
                <h4 style="margin-top: 3%;">Прикрепите файлы для скачивания или перетащите файл сюда</h4>
                <p>Файл обрабатывается до 3 Гб</p>
            </div>
            <input type="text" placeholder="Текст" class="text-footer">
        </div>
    </div>
</div>

<a href="#" style="margin-left: 40%;">
    <button class="button-create-tasks">+ Добавить страницу</button>
</a>
<script src="{% static 'teach_create_tasks.js' %}"></script>
{% endblock %}