{% load static %}

<footer>
    <div class="container" style="border-top: 1px solid gray; min-width: 100%">
        <div class="footer-content">
            <img src="{% static 'img/logo.png' %}" width="100" height="100px" style="margin-top: -20px" />
            <div style="width: 50%">
                <p>
                    CreateLearn - платформа для микрообучения по онлайн-курсам и конструктор для создания своих
                    собственных.
                </p>
            </div>
            <p style="margin-left: 100px">+7 999 999 99 99</p>
        </div>
    </div>
</footer>
